<div class="form-row">
  <div class="form-item">
    <label>Type of Plan</label>
    <input type="text" name="title" value="<%= book.title %>">
  </div>
  <div class="form-item">
    <label>Member</label>
    <select name="author">
      <% authors.forEach(author => { %>
        <% if (author.id === book.author) { %>
          <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
          <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Registered Date</label>
    <input type="date" name="publishDate"
          value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
  </div>
  <div class="form-item">
    <label>Plan End</label>
    <input type="date" name="pageCount" 
        value="<%= book.pageCount == null ? '' : book.pageCount.toISOString().split('T')[0] %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Profile</label>
    <input type="file" name="cover" class="filepond">
  </div>
  <div class="form-item">
    <label>Payment</label>
    <input type="number" name="decription" min="1" value="<%= book.description %>">
  </div>
</div>